---
- name: Configure worker 192.168.128.80 storage mounts
  hosts: 192.168.128.80
  become: true
  remote_user: root
  vars:
    head_node_ip: "{{ lookup('env', 'HEAD_NODE_IP') | default('192.168.128.111', true) }}"
    nfs_server: "{{ lookup('env', 'NFS_SERVER') | default(head_node_ip, true) }}"
    nfs_exports:
      - { remote: "{{ nfs_server }}:/mnt/pool0/share", mount: "/home/shared", fstype: "nfs4", opts: "_netdev,auto" }
      - { remote: "{{ nfs_server }}:/mnt/pool1/media/TV", mount: "/home/media/TV", fstype: "nfs4", opts: "_netdev,auto" }
      - { remote: "{{ nfs_server }}:/mnt/pool0/media/music", mount: "/home/media/Music", fstype: "nfs4", opts: "_netdev,auto" }
      - { remote: "{{ nfs_server }}:/mnt/pool1/media/Movies", mount: "/home/media/Movies", fstype: "nfs4", opts: "_netdev,auto" }
      - { remote: "{{ nfs_server }}:/mnt/pool0/media/audiobooks", mount: "/home/media/Books", fstype: "nfs4", opts: "_netdev,auto" }
  tasks:
    - name: Ensure directories exist
      file:
        path: "{{ item }}"
        state: directory
        mode: '0755'
      with_items:
        - /home/shared
        - /home/media/TV
        - /home/media/Music
        - /home/media/Movies
        - /home/media/Books

    - name: Ensure NFS mounts are present in fstab (non-blocking)
      mount:
        src: "{{ item.remote }}"
        path: "{{ item.mount }}"
        fstype: "{{ item.fstype | default('nfs4') }}"
        opts: "{{ item.opts | default('_netdev,auto') }}"
        state: present
      loop: "{{ nfs_exports }}"

    - name: Attempt to mount NFS exports if reachable
      mount:
        src: "{{ item.remote }}"
        path: "{{ item.mount }}"
        fstype: "{{ item.fstype | default('nfs4') }}"
        opts: "{{ item.opts | default('_netdev,auto') }}"
        state: mounted
      loop: "{{ nfs_exports }}"
      ignore_errors: true

    - name: Install NFS and Docker dependencies
      apt:
        name:
          - nfs-common
          - docker.io
        state: present
        update_cache: yes

- name: Configure worker 192.168.128.80 as Nomad/Consul client
  hosts: 192.168.128.80
  become: true
  remote_user: root
  vars:
    head_node_ip: "{{ lookup('env', 'HEAD_NODE_IP') | default('192.168.128.111', true) }}"
    nomad_server_ips_value: "{{ nomad_server_ips | default(lookup('env', 'NOMAD_SERVER_IPS') | default(head_node_ip, true), true) }}"
    nomad_server_ips_list: "{{ (nomad_server_ips_value | string).split(',') }}"
  tasks:
    - name: Ensure directories exist
      file:
        path: "{{ item }}"
        state: directory
        mode: '0755'
      with_items:
        - /var/lib/nomad
        - /var/lib/consul
        - /etc/nomad.d
        - /etc/consul.d

    - name: Manage systemd service file nomad
      copy:
        src: "{{ playbook_dir }}/../configs/nomad.service"
        dest: /lib/systemd/system/nomad.service
      notify: Reload systemd

    - name: Manage systemd service file consul
      copy:
        src: "{{ playbook_dir }}/../configs/consul.service"
        dest: /lib/systemd/system/consul.service
      notify: Reload systemd

    - name: manage nomad config
      template:
        src: "{{ playbook_dir }}/../configs/nomad.hcl.j2"
        dest: /etc/nomad.d/nomad.hcl
      notify: Restart Service

    - name: manage consul config
      template:
        src: "{{ playbook_dir }}/../configs/consul.hcl.j2"
        dest: /etc/consul.d/server.hcl

    - name: Add HashiCorp APT repository key
      apt_key:
        url: https://apt.releases.hashicorp.com/gpg
        state: present
        validate_certs: no
        keyring: /usr/share/keyrings/hashicorp-archive-keyring.gpg

    - name: Configure HashiCorp APT repository
      apt_repository:
        repo: "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com {{ ansible_distribution_release }} main"

    - name: Install Apt packages
      apt:
        name:
          - nomad=1.10.4-1
          - consul=1.19.1-1
        dpkg_options: 'force-confdef,force-confold'
        update_cache: true
        state: latest
        allow_downgrade: true

    - name: Modify sysctl entry for net.ipv4.ip_nonlocal_bind
      sysctl:
        name: "{{ item.name }}"
        value: "{{ item.value }}"
        state: present
      with_items:
        - { name: "net.ipv4.ip_nonlocal_bind", value: "1" }
        - { name: "net.ipv4.conf.all.forwarding", value: "1" }
      notify: Apply Sysctl Changes

    - name: Enable services
      systemd:
        name: "{{ item }}"
        enabled: yes
        state: started
      with_items:
        - nomad
        - consul

  handlers:
    - name: Restart Service
      service:
        name: nomad
        state: restarted

    - name: Reload systemd
      systemd:
        daemon_reload: yes

    - name: Apply Sysctl Changes
      command: sysctl -p /etc/sysctl.conf
